<ng-container>
    <div class="table-alumns">
        <dx-data-grid [columns]="Columns" [dataSource]="dataSource || []"
        (onToolbarPreparing)="onToolbarPreparing($event)">
            <!-- <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true" placeholder="Buscar..."></dxo-search-panel> -->
            <dxo-header-filter [visible]="true" [allowSearch]="false"></dxo-header-filter>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-export  [allowExportSelectedData]="true" [enabled]="true"  fileName="fileName"></dxo-export>
        </dx-data-grid>
    </div>
</ng-container>
